<app-navbar></app-navbar>
<div class="div-fir">
  <div class="div-sec">
    <div class="div-thi">
      <span class="span-title">Abre un casillero</span>
      <p>
        Solicitar tu dirección de casillero en Miami es completamente gratis, no
        requiere de pago ni mantenimiento.
      </p>
      <p>
        Una vez ingresas los datos y los envías, te llegará la dirección a tu
        correo electrónico, si no la vez de inmediato debió llegar a la carpeta
        de spam.
      </p>
      <p>
        Una vez tengas la dirección, ya puedes empezar a pedir, haz click acá
        para ver como añadir tu dirección en diferentes tiendas
      </p>
      <p>
        ¿Tienes un emprendimiento, negocio ó eres PYME y nuestros servicios
        serían útiles para aumentar los márgenes de tus ventas, buscas una buena
        relación con proveedores, servicio seguro de calidad y rápido?
        Contáctanos directamente para poder darte una oferta especial de
        nuestros servicios
      </p>
    </div>
    <div class="div-fou">
      <form>
        <div class="tittle-form">
          <span class="span-title-form">Ingresa tus datos para solicitar</span>
        </div>
        <div class="div-prin-form">
          <div class="div-input">
            <label for="nombre" class="label-input">Nombre completo * :</label>
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="referido" class="label-input"
              >Código de referido :</label
            >
            <input type="" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="email" class="label-input">Email * :</label>
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="telefono" class="label-input"
              >Número de telefono * :</label
            >
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="cumpleaños" class="label-input">Cumpleaños * :</label>
            <input type="date" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="documento" class="label-input"
              >Número de cedula * :</label
            >
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="contraseña" class="label-input">Contraseña * :</label>
            <input type="password" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="direccion" class="label-input"
              >Dirección completa * :</label
            >
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="detalle" class="label-input"
              >Direccion detallada :</label
            >
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="ciudad" class="label-input">Ciudad * :</label>
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="departamento" class="label-input">Provincia * :</label>
            <input type="text" class="input-medio" />
          </div>
          <div class="div-input">
            <label for="pais" class="label-input">País * :</label>
            <input type="text" class="input-medio" />
          </div>
          <div>
            <button class="red" type="button">
              <i class="icon ion-md-lock"></i> Registro
            </button>
          </div>
        </div>
      </form>
      <div class="ya-registrado">
        <a [routerLink]="['/login']">¿Ya estas registrado?</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
