<section class="container">
  <div class="div-nav">
    <nav class="navbar">
      <div class="div-navbar">
        <img src="../../../assets/easybox.png" alt="" />
        <ul>
          <li><a class="a-li" href="">Inicio</a></li>
          <li><a class="a-li" href="">Servicios</a></li>
          <li><a class="a-li" href="">Tarifas</a></li>
          <li><a class="a-li" [routerLink]="['/puntos']">Puntos</a></li>
          <li><a class="a-li" href="">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="div-a-comprar">
    <a href="#" class="a-comprar">¿Como Comprar?</a>
  </div>
</section>
