<app-navbar></app-navbar>

<div>
  <div class="div-title-terms">
    <p class="p-title-terms">Términos y Condiciones</p>
  </div>
  <div class="div-text-full">
    <p class="p-subtitle-1">
      CONTRATO DE PRESTACION DE SERVICIOS DE CASILLERO Y ENVIOS MIAMI LLC / DBA
      EASY BOX USA
    </p>
    <p class="p-text-subtitle">
      Este contrato de prestación de servicios se establece entre Casillero &
      Envíos Miami LLC, DBA Coordinadora USA, empresa radicada en la 7630 NW 25
      Street Suite 2B, Miami, Florida, 33122, EEUU, que opera bajo las leyes del
      estado de la Florida, con EIN (Employer Identification Number) #
      26-4081134 y que en adelante se denominará “Coordinadora USA” y la persona
      Natural o Jurídica que lo suscribe y acepta sus condiciones completando el
      formulario de inscripción que se encuentra en la aplicación móvil
      “CoordiUSA” o en la página web www.coordinadorausa.com, y que en adelante
      se denominará "Cliente".
    </p>
    <p class="p-subtitle-2">1. Objeto</p>
    <p class="p-text-subtitle-2">
      1.1. Este acuerdo tiene por objeto poner a disposición del público en
      general, personas naturales o jurídicas, el derecho al uso de un espacio
      físico denominado “Casillero Virtual” y/o “Casillero” ubicado en las
      instalaciones de Coordinadora USA, en los Estados Unidos de América, para
      la recepción, almacenaje y custodia de Documentos, Paquetes y/o Mercancías
      y su posterior embalaje y envío a un destino final previamente establecido
      entre las partes.
    </p>
    <p class="p-subtitle-2">2. Definición de Términos</p>
    <p class="p-text-subtitle-2">
      2.1. “Casillero Virtual” y/o “Casillero”: Derecho al uso de un espacio
      físico identificado con un número y con dirección en los Estados Unidos de
      América, al cual los afiliados pueden hacer llegar Documentos, Paquetes y
      Mercancías.
    </p>
    <p class="p-text-subtitle-2">
      2.2. Mercancía: para efectos de este acuerdo, hace referencia a
      "Documentos, Paquetes y Mercancías".
    </p>
    <p class="p-text-subtitle-2">
      2.3. Correo Basura: es un correo masivo que llega al casillero y está
      dirigido al cliente, generalmente de material publicitario, es repetitivo
      y no deseado y la mayoría de las veces consume mucho espacio por llegar en
      grandes cantidades.
    </p>
    <p class="p-text-subtitle-2">
      2.4. Declaración de Valor y/o Solicitud de Despacho: Documento mediante el
      cual el declarante (cliente) indica el valor comercial de sus artículos,
      forma de pago, régimen aduanero que ha de aplicarse a la mercancía,
      posición arancelaria y además describe el contenido y la cantidad de
      unidades a despachar. La declaración de valor contiene la información
      completa del remitente y del destinatario de la mercancía. Este documento
      reemplaza la factura comercial cuando el cliente por algún motivo no la
      anexa a la solicitud de despacho. Toma valor ante las autoridades de
      aduana para los trámites de ingreso legal al país de destino. La
      declaración de valor es de total responsabilidad del Cliente y exime a
      Coordinadora USA de cualquier obligación o reclamo ante las autoridades de
      aduana.
    </p>
    <p class="p-text-subtitle-2">
      2.5. Guía Hija: Documento que establece el contrato de transporte entre el
      cliente y la empresa prestadora del servicio. La guía hija contiene la
      información del remitente, del destinatario, la descripción de la
      mercancía, su valor declarado, sus dimensiones y peso, la clasificación
      arancelaria, la liquidación por los servicios y demás información
      requerida por la ley. Cada envío debe estar respaldado por una sola Guía
      Hija con su respectivo número y fecha en la que fue emitida.
    </p>
    <p class="p-subtitle-2">3. Dispocisiones Generales</p>
    <p class="p-text-subtitle-2">
      3.1. Coordinadora USA asignará al cliente un número de Casillero Virtual y
      una dirección física para su uso en los Estados Unidos, que le servirá
      para la recepción de mercancías permitidas por la ley.
    </p>
    <p class="p-text-subtitle-2">
      3.2. Cada casillero solo podrá tener o estar a nombre de un solo cliente y
      viceversa, de tal manera que no será permitido que un mismo cliente tenga
      varios casilleros y un casillero esté a nombre de varios clientes. De
      igual forma el casillero deberá ser para uso exclusivo del suscriptor, por
      lo cual no podrá contener mercancía que no esté rotulada con su nombre.
      Coordinadora USA podrá revisar que los registros del casillero contengan
      información cierta, que la identificación del usuario corresponda con los
      números de los documentos aportados, que los teléfonos y direcciones sean
      reales y que toda la demás información cumpla adecuadamente con las normas
      legales. En caso de encontrar inconsistencias o información falsa,
      Coordinadora USA podrá solicitar información adicional u optar por la
      cancelación definitiva de la suscripción.
    </p>
    <p class="p-text-subtitle-2">
      3.3. Coordinadora USA tendrá en su página web: www.coordinadorausa.com y
      en su aplicación móvil “CoordiUSA”, un espacio disponible en forma
      permanente para la afiliación “online” de los clientes y en el cual
      también existirá la posibilidad de realizar cambios en su correo
      electrónico, clave de acceso, teléfonos y direcciones de entrega. Los
      cambios son de total responsabilidad de los clientes.
    </p>
    <p class="p-text-subtitle-2">
      3.4. Todo cliente que se suscriba al servicio de casillero recibirá vía
      correo electrónico la información completa referente a su casillero:
      número personal, dirección física, teléfono de contacto, correo
      electrónico, etc.
    </p>
    <p class="p-text-subtitle-2">
      3.5. La ubicación física del casillero será en el territorio de los
      Estados Unidos. Coordinadora USA será quien determine la ciudad y el lugar
      exacto del mismo teniendo la potestad de cambiarlo según su criterio
      cuantas veces así lo estime.
    </p>
    <p class="p-text-subtitle-2">
      3.6. Coordinadora USA se encargará de la recepción, inventario,
      clasificación, consolidación, desconsolidación, re-empaque, envío de
      Estados Unidos a Colombia, trámites de nacionalización y entrega de la
      mercancía en la dirección indicada por el cliente en la Página de
      registro, para los envíos bajo la modalidad de “Trafico Postal y Envíos
      Urgentes”.
    </p>
    <p class="p-text-subtitle-2">
      3.7. El cliente deberá solicitar sus despachos vía su casillero en nuestra
      página web www.coordinadorausa.com o vía nuestra aplicación móvil
      CoordiUSA. Solicitudes de despacho por vía telefónica, correo electrónico
      o similar, no serán válidas.
    </p>
    <p class="p-text-subtitle-2">
      3.8. Toda mercancía viajará soportada por una guía hija internacional y le
      será enviada al cliente una copia vía correo electrónico en el momento de
      realizarse el despacho junto con la factura comercial por los servicios
      prestados. Esta guía contiene la información del remitente, del
      destinatario y la liquidación por los servicios de transporte, impuestos y
      demás cargos aplicados. Posteriormente, luego de cumplirse los trámites de
      aduana, la mercancía llevará adicionalmente una guía nacional para su
      reparto y entrega en Colombia.
    </p>
    <p class="p-text-subtitle-2">
      3.9. Coordinadora USA no se hará responsable por el mal direccionamiento
      de la mercancía a nuestra bodega en Miami. De igual manera Coordinadora
      USA no se hará responsable si el cliente entrega información errada sobre
      la dirección de destino y será el cliente quien asumirá los gastos extras
      que ocasione este error.
    </p>
    <p class="p-text-subtitle-2">
      3.10. La compra de productos que el cliente direccione al casillero será
      de su exclusiva y directa responsabilidad, por lo cual Coordinadora USA no
      se hará responsable por las obligaciones económicas que se deriven del
      pago de los productos, del embalaje, seguro y transporte de estos desde
      las instalaciones del proveedor hasta el casillero asignado.
    </p>
    <p class="p-text-subtitle-2">
      3.11. Coordinadora USA mantendrá canales de comunicación permanentes con
      el cliente tales como números telefónicos, página web, aplicativo móvil y
      correo electrónico para que este permanezca informado de la llegada y
      salida de mercancía de su casillero y para que dé instrucciones acerca de
      consolidación, desconsolidación, valoración y despacho de mercancía. Si el
      cliente no se comunica con Coordinadora USA durante los siguientes 30 días
      calendarios de la llegada de la mercancía al casillero, Coordinadora USA
      podrá generar un cobro por concepto de almacenamiento. Si después de dos
      meses de la llegada de la mercancía el cliente no se ha comunicado, la
      mercancía se considerará en abandono y será descartada.
    </p>
    <p class="p-text-subtitle-2">
      3.12. Si el cliente no ordena el despacho de su mercancía durante los
      primeros 30 (treinta) días luego de su llegada al casillero, Coordinadora
      USA comenzará a realizar un cobro por concepto de almacenamiento. Mientras
      el cliente mantenga una adecuada comunicación con la compañía y pague cada
      mes el valor correspondiente al almacenamiento, su mercancía podrá
      permanecer en las instalaciones de Coordinadora USA por tiempo indefinido.
      Si pasados dos meses el cliente no ordena el despacho, no se comunica con
      la compañía y no paga las facturas por almacenamiento, la mercancía se
      considerará en abandono y será descartada.
    </p>
    <p class="p-text-subtitle-2">
      3.13. En caso de que la mercancía llegase al casillero sin factura
      comercial, el cliente se compromete a emitir una declaración de valor para
      dicho envío.
    </p>
    <p class="p-text-subtitle-2">
      3.14. El Cliente autoriza a Coordinadora USA a descartar catálogos de
      compra, muestras publicitarias y publicidad no especificada ("correo
      basura"). A pesar de ello y a pesar de la mayor diligencia por parte de
      Coordinadora USA, no se garantiza que todo el correo no solicitado será
      eliminado en el proceso de selección, por lo tanto, Coordinadora USA no se
      hará responsable por los costos relacionados con dicho envío. De igual
      forma, Coordinadora USA no se hace responsable por el almacenamiento,
      clasificación y conservación de catálogos, publicidad, muestras y correo
      basura que llegue al casillero y que el cliente no indique expresamente
      que desea le sean enviados.
    </p>
    <p class="p-text-subtitle-2">
      3.15. Coordinadora USA se reserva el derecho de contratar los servicios de
      terceros para los trámites de aduana y para el transporte aéreo y/o
      terrestre de la mercancía.
    </p>
    <p class="p-text-subtitle-2">
      3.16. Coordinadora USA se compromete a realizar los trámites aduaneros en
      Colombia correspondientes a la modalidad de tráfico postal y envíos
      urgentes, según las normas vigentes y a través de un depósito habilitado
      de aduana, los cuales incluyen registro, pre-inspección e inspección
      aduanera y pago de tributos a nombre del cliente.
    </p>
    <p class="p-text-subtitle-2">
      3.17. El cliente se hará también responsable por los gastos extras de
      aduana, los impuestos y demás cargos adicionales como reprocesos, cuando
      el valor declarado en la factura o en la declaración de valor, sea
      inferior al estimado por las autoridades colombianas y esto conlleve a una
      propuesta de valor en la DIAN o a un cambio de modalidad en el trámite de
      nacionalización.
    </p>
    <p class="p-text-subtitle-2">
      3.18. El Cliente al aceptar el presente contrato suscribe un derecho de
      prenda a favor de Coordinadora USA sobre los bienes transportados para
      garantizar el pago de los servicios contratados, pudiendo de esta forma
      Coordinadora USA, ante el incumplimiento económico del presente contrato
      por parte del cliente, rehusarse a entregar los bienes o incluso a
      venderlos para que con el recaudo de las ventas pueda saldar las deudas
      adquiridas con este.
    </p>
    <p class="p-text-subtitle-2">
      3.19. Coordinadora USA pondrá a disposición de los clientes una aplicación
      móvil y un lugar en su página web para que puedan consultar el estatus de
      sus envíos. Coordinadora USA también pone a disposición del cliente sus
      páginas en las redes sociales para beneficio mutuo. En estas páginas el
      cliente encontrará información sobre los servicios ofrecidos, publicidad,
      noticias, promoción de eventos, rifas, etc. Los clientes podrán expresar
      sus inquietudes y hacer recomendaciones y/o sugerencias con respecto al
      funcionamiento del servicio. Los tiempos de respuesta por parte de
      Coordinadora USA dependerán del horario laboral establecido. El uso de
      estos medios está sujeto a las normas mínimas de participación y
      comportamiento en grupo, como son: respeto, objetividad y manejo adecuado
      del lenguaje entre otros, entendiendo que Coordinadora USA podrá descartar
      o bloquear clientes con mensajes ofensivos, con publicidad política o
      religiosa, con información agresiva o spam, etc.
    </p>
    <p class="p-text-subtitle-2">
      3.20. Coordinadora USA se reserva el derecho de admisión de sus clientes y
      tiene autonomía para la cancelación de cuentas en abandono, inactivas, que
      presenten antecedentes de fraude, que sean usadas para actividades
      ilegales, que el cliente utilice para insultar o maltratar a los empleados
      o a la compañía, que contengan información falsa, que se abran con un
      objetivo diferente a los servicios logísticos contratados o que
      pertenezcan a clientes morosos.
    </p>
    <p class="p-subtitle-2">4. Tratamiento de la información personal</p>
    <p class="p-text-subtitle-2">
      4.1. Coordinadora USA tendrá en su portal web y en la aplicación móvil, un
      lugar de afiliación voluntaria y gratuita para cualquier persona natural o
      jurídica que desee tener su casillero.
    </p>
    <p class="p-text-subtitle-2">
      4.2. En el momento de la afiliación Coordinadora USA solo solicitará
      información personal y en ningún caso solicitará información financiera;
      esta solo se pedirá en el momento que se requiera realizar un pago por los
      servicios contratados y se hará cumpliendo las medidas de seguridad
      exigidas por las entidades emisoras de este tipo de tarjetas y medios de
      pago.
    </p>
    <p class="p-text-subtitle-2">
      4.3. El cliente se compromete a suministrar información veraz que permita
      su plena identificación y contacto. Las personas que utilicen datos que no
      sean propios serán responsables de las consecuencias que esto genere y de
      las sanciones que la ley Colombiana y de los Estados Unidos establezcan
      para este tipo de delito.
    </p>
    <p class="p-text-subtitle-2">
      4.4. Coordinadora USA se reserva el derecho a desvincular un usuario
      cuando este haya suministrado información falsa, cuando incumpla las
      políticas y normas del contrato de servicio o cuando durante su uso se
      aparte de las políticas y valores de la compañía. De igual manera
      Coordinadora USA puede cancelar cuentas en abandono, inactivas o que
      presenten antecedentes de fraude o mal uso.
    </p>
    <p class="p-text-subtitle-2">
      4.5. Coordinadora USA utilizará la información de los usuarios para todos
      los efectos relacionados con la prestación de los servicios aquí pactados,
      para realizar análisis internos de comportamiento de mercado y gestión de
      sus servicios, para informar de cambios en las condiciones del contrato,
      para ofrecer descuentos y tarifas promocionales, para informar sobre la
      realización de concursos y rifas entre los usuarios, para promover el
      e-commerce, para transmitir mensajes de felicitaciones en fechas
      especiales, para publicar noticias de interés general y para tramitar los
      cobros de los servicios prestados.
    </p>
    <p class="p-text-subtitle-2">
      4.6. El cliente autoriza a Coordinadora USA a publicar su nombre y código
      de casillero, a cambio de ningún tipo de compensación, cuando haya sido
      merecedor de un premio y/o rifa otorgado por la empresa.
    </p>
    <p class="p-text-subtitle-2">
      4.7. Coordinadora USA se compromete a cumplir la ley Estatutaria No. 1581
      de protección de datos personales.
    </p>
    <p class="p-text-subtitle-2">
      4.8. En el momento de inscripción el cliente autoriza a Coordinadora USA a
      suministrarle información comercial y publicitaria de nuestra compañía y
      de las compañías de nuestro grupo empresarial.
    </p>
    <p class="p-text-subtitle-2">
      4.9. Todos los usuarios inscritos en Coordinadora USA podrán ejercer su
      derecho de consultar, modificar, actualizar, ampliar o borrar la
      información personal inicialmente suministrada.
    </p>
    <p class="p-text-subtitle-2">
      4.10. No se podrá cancelar una cuenta si existe en curso la prestación de
      un servicio o si se adelanta un proceso de investigación formal por
      cualquiera de las partes.
    </p>
    <p class="p-subtitle-2">5. Regulaciones</p>
    <p class="p-text-subtitle-2">
      5.1. El envío de la mercancía de Estados Unidos a Colombia deberá cumplir
      con toda la normatividad nacional e internacional de aduana vigente, por
      lo cual el cliente declara que acepta todas sus condiciones, restricciones
      y demás disposiciones relativas a los servicios contratados.
    </p>
    <p class="p-text-subtitle-2">
      5.2. El cliente por el presente contrato otorga a Coordinadora USA un
      poder amplio y suficiente para que realice en su nombre todos los trámites
      administrativos y de aduana necesarios para la internación de sus
      mercancías al país bajo la modalidad de courier.
    </p>
    <p class="p-text-subtitle-2">
      5.3. Coordinadora USA puede negarse a transportar la mercancía que no
      cumpla con alguna de las condiciones señaladas por la ley o en la cual
      evidencie que la información suministrada por el cliente es errónea y no
      concuerda con el contenido de dicha mercancía a despachar.
    </p>
    <p class="p-text-subtitle-2">
      5.4. Las mercancías que no llenen los requisitos para ser enviadas bajo la
      modalidad de “courier”, podrán ser objeto por orden de la autoridad
      competente del gobierno a cambio de modalidad, pasando a un régimen
      diferente de importación. En estos casos la responsabilidad de los
      trámites y costos de nacionalización se traslada directamente al
      suscriptor y/o dueño de la mercancía, quien deberá contratar los servicios
      de un Agente de Aduana y terminar el proceso de Nacionalización.
      Coordinadora USA se compromete, una vez el cliente cancele los servicios
      prestados, a entregar los documentos de transporte al agente de aduana que
      este autorice y que le permitirán terminar el trámite de ingreso de la
      mercancía al país.
    </p>
    <p class="p-text-subtitle-2">
      5.5. Coordinadora USA no se hace responsable de los costos relacionados
      con los trámites de aduana y demás costos tales como: bodegaje,
      pre-inspección, inspección, multas, embargos, decomiso parcial o
      definitivo de los bienes o de cualquier otro que se genere durante el
      proceso de ingreso de la mercancía al país. En ningún caso el seguro de la
      mercancía cubrirá la pérdida del bien por decomiso por cualquier entidad,
      tales como la DIAN, INVIMA, ICA y similares.
    </p>
    <p class="p-text-subtitle-2">
      5.6. El cliente será responsable y por lo tanto deberá reintegrar el valor
      de los gastos en que incurra Coordinadora USA con motivo de todas las
      reclamaciones de terceros, debido a un paquete que no cumpla con alguna de
      las normas anteriormente mencionadas y a su vez deberá indemnizar a
      Coordinadora USA por cualquier perjuicio económico fruto de demandas,
      multas o costos que se deriven de dicho incumplimiento.
    </p>
    <p class="p-text-subtitle-2">
      5.7. Coordinadora USA podrá modificar las condiciones del presente acuerdo
      en cualquier momento para adaptarlo a los cambios que las autoridades de
      cualquiera de los dos países, Colombia y Estados Unidos, realice en las
      leyes de transporte, aduana o cualquier otra que se relacione con los
      servicios aquí ofrecidos.
    </p>
    <p class="p-subtitle-2">6. Uso de la página web</p>
    <p class="p-text-subtitle-2">
      6.1. Coordinadora USA hará su mejor esfuerzo en actualizar el contenido y
      mantener la seguridad de su página web www.coordinadorausa.com. No
      obstante, la empresa no garantiza que la información de la página web esté
      libre de errores y/o que esta pueda causar problemas tecnológicos tales
      como: virus, interrupciones de servidor, eliminación o corrupción de
      archivos o cualquier otro daño ocasionado por mal funcionamiento. Es la
      responsabilidad del cliente, instalar un antivirus y tomar cualquier otra
      precaución de seguridad necesaria para proteger su equipo electrónico.
    </p>
    <p class="p-text-subtitle-2">
      6.2. Coordinadora USA se reserva el derecho de interrumpir el servicio de
      su página web por el tiempo que sea necesario para la actualización de
      datos y el mantenimiento técnico y de seguridad.
    </p>
    <p class="p-text-subtitle-2">
      6.3. La empresa se reserva el derecho de modificar, actualizar y/o
      eliminar el contenido de su página web con o sin previo aviso a sus
      usuarios.
    </p>
    <p class="p-text-subtitle-2">
      6.4. Coordinadora USA no se hace responsable por cualquier prejuicio,
      ofensa y/o problema técnico que puedan causar los enlaces a sitios web de
      terceros, ya que estas páginas web no están bajo su manejo y supervisión.
    </p>
    <p class="p-subtitle-2">8. Disposiciones relativas al transporte aéreo</p>
    <p class="p-text-subtitle-2">
      8.1. El cliente será responsable ante la ley del tipo de mercancía que
      envíe ajustándose a las leyes postales y de aviación, de Colombia y
      Estados Unidos.
    </p>
    <p class="p-text-subtitle-2">
      8.2. El Cliente autoriza a Coordinadora USA a realizar los procedimientos
      rutinarios de inspección de la mercancía requeridos por las autoridades
      del gobierno estadounidense, tales como los del TSA, el departamento de
      aduana o cualquier otro que las leyes determinen. Estos procedimientos
      incluyen apertura y verificación de contenidos para asegurarse que
      concuerda con lo declarado, que la mercancía no representa ningún peligro
      para la seguridad aérea, que cumple con las regulaciones aduaneras y que
      se encuentra en buen estado.
    </p>
    <p class="p-text-subtitle-2">
      8.3. Coordinadora USA no se hará responsable por la pérdida de mercancías
      debido a la incautación de aduanas ni entidades similares.
    </p>
    <p class="p-text-subtitle-2">
      8.4. Coordinadora USA se reserva el derecho a no enviar y rechazar todo
      tipo de mercancía que: · Esté prohibida para el envío bajo la modalidad de
      courier. · Pudiese generar cualquier tipo de peligro, pérdida, daño o
      perjuicio a la compañía o a terceros. · Se considere “Mercancía peligrosa”
      o Contenga artículos prohibidos o restringidos por el TSA (Transportation
      Security Administration), la IATA (International Air Transport
      Association), la ICAO (International Civil Aviation Organization), la ADR
      (European Road Transport Regulation on dangerous goods), u otra
      organización pertinente. En estos casos, Coordinadora USA le pedirá al
      cliente que imparta instrucciones sobre el retiro de la mercancía del
      casillero y le ofrece el servicio de reenvío al proveedor en Estados
      Unidos a unas tarifas comerciales, pero será responsabilidad del cliente
      proceder con dicha orden de despacho, o de lo contrario pasar a recoger la
      mercancía o declararla en abandono. Si pasados 15 días de dicha
      notificación, el cliente aún no ha dispuesto por algún medio el retiro de
      la mercancía del casillero, esta será considerada en abandono y será
      descartada.
    </p>
    <p class="p-subtitle-2">9. Proceso logístico</p>
    <p class="p-text-subtitle-2">
      9.1. Coordinadora USA se compromete a realizar las siguientes actividades
      en el menor tiempo posible para beneficio de las partes, no obstante, los
      tiempos estipulados son aproximados toda vez que son muchas las variables
      que podrían afectarlos.
    </p>
    <p class="p-text-subtitle-2">
      9.2. Recepción de mercancía: la logística de este proceso comprende:
      escanear el número de rastreo (tracking) en el momento en que el
      transportador local entrega la mercancía en nuestra bodega. El cliente,
      mediante la herramienta para búsqueda de paquetes del casillero
      (localizada en la pantalla de ‘Inventario’), podrá verificar si la caja ya
      fue recibida en bodega utilizando el número de rastreo de la
      transportadora local. En las siguientes 4-8 horas laborales
      (aproximadamente), escanear el número de rastreo de la caja e ingresar al
      sistema una descripción general de los artículos que contiene. Con esta
      información se actualiza el inventario del casillero del cliente.
    </p>
    <p class="p-text-subtitle-2">
      9.3. Envío de una notificación de recibo de nuevo inventario a través de
      la aplicación móvil y al correo electrónico del usuario que incluye número
      de tracking, descripción general, cantidad, fecha y hora de recibida la
      mercancía. Luego procederemos a almacenar la mercancía según código y
      locación. Si la mercancía llega mal marcada (sin nombre, sin número de
      casillero, una de las dos o ambas) inmediatamente se traslada al
      Departamento de Novedades y se ingresa al sistema como “mercancía sin
      dueño”. A partir de este momento se inicia un proceso que busca determinar
      el dueño de dicha mercancía. Los clientes que habiendo recibido una
      confirmación de entrega en nuestras bodegas por parte de una
      transportadora local (UPS, USPS, FedEx, Amazon u otro) y habiendo
      verificado que el número de rastreo fue recibido en nuestra bodegas
      (mediante la herramienta en la página web, área de ‘Inventario’) pero que
      el mismo no se encuentra en su inventario de casillero, deben enviar vía
      correo electrónico a la dirección info@coordinadorausa.com su nombre
      completo, su número de casillero, el número del tracking que le dio el
      transportador local, el nombre de la tienda en que compró, una descripción
      de los artículos y en el mejor de los casos una copia de la factura de
      compra para facilitarnos la identificación de su mercancía. Si una caja
      pasa más de dos meses en la lista de “mercancía sin dueño” se considerará
      en abandono y será descartada.
    </p>
    <p class="p-text-subtitle-2">
      9.4. Guía hija: Se realiza en las siguientes 4-8 horas laborales
      (aproximadamente) a partir del momento en que recibamos la solicitud de
      despacho elaborada por el usuario, siempre y cuando la mercancía esté
      correctamente rotulada, la documentación y mercancía se encuentre en orden
      con todos los requisitos legales y se determine una forma de pago válida.
      Coordinadora USA presta el servicio de consolidación y re-empaque
      orientado a colocar todos los artículos en una sola caja y a proteger la
      mercancía durante el transporte, así como reducir el peso y el volumen
      para el cliente.
    </p>
    <p class="p-text-subtitle-2">
      9.5. Despacho: Las guías hijas que tengan forma de pago ‘efectivo contra
      entrega’, saldrán para Colombia en el siguiente manifiesto de carga
      disponible. Las guías hijas que tengan forma de pago en origen, quedaran
      en estado ‘en bodega’, pendientes de pago. Una vez se reciba el pago, la
      guía saldrá en el siguiente manifiesto de carga disponible.
    </p>
    <p class="p-text-subtitle-2">
      9.6. Envío de Miami al destino final: una vez despachada la mercancía el
      tiempo de entrega en la dirección del cliente será entre 1 y 7 días
      hábiles aproximadamente. No obstante lo anterior, Coordinadora USA no se
      hará responsable de los retrasos causados por fuerza mayor o por problemas
      más allá de su control, tales como dificultades con las aerolíneas,
      demoras en el proceso de aduana, mal tiempo, daños en las carreteras, etc.
    </p>
    <p class="p-text-subtitle-2">
      9.7. El cliente acepta que el envío pueda realizarse por cualquier ruta y
      la mercancía pueda ser desviada, incluida la posibilidad de parar en
      lugares de escala intermedios.
    </p>
    <p class="p-subtitle-2">10. Tárifas y formas de pago</p>
    <p class="p-text-subtitle-2">
      10.1. La suscripción al casillero es gratis y no caduca en el tiempo.
    </p>
    <p class="p-text-subtitle-2">
      10.2. Todas las tarifas para el envío de mercancía de Estados Unidos a
      Colombia y demás cargos relacionados con la prestación de los servicios
      aquí ofrecidos estarán publicadas en nuestra página web
      www.coordinadorausa.com y podrán ser modificadas sin previo aviso en
      cualquier momento por Coordinadora USA, para adecuarlas a las condiciones
      del mercado.
    </p>
    <p class="p-text-subtitle-2">
      10.3. El servicio de almacenamiento en el casillero es gratis para la
      mercancía en tránsito, por lo cual, si luego de 30 días calendario
      contados a partir de la fecha de su ingreso al casillero el cliente aún no
      decide realizar su envío, deberá asumir un costo por almacenamiento a las
      tarifas vigentes.
    </p>
    <p class="p-text-subtitle-2">
      10.4. El cliente tiene derecho a recoger en las instalaciones de
      Coordinadora USA en Miami, los artículos que se encuentren en su
      casillero, siempre y cuando se identifique plenamente o envíe a un tercero
      con un poder amplio y suficiente para esta gestión. Este servicio de
      entrega tendrá un costo por trámite administrativo de retiro más los
      costos de bodegaje respectivo contados desde el primer día de llegada de
      la mercancía a nuestras instalaciones. El cliente podrá también pedir a
      Coordinadora USA enviar la mercancía a una dirección diferente en Colombia
      a la inicialmente autorizada; en este caso se le cargarán los gastos de
      flete, más un costo administrativo. El cliente también podrá pedir a
      Coordinadora USA devolver la mercancía al vendedor en los Estados Unidos
      asumiendo los gastos de flete aplicables, más un costo administrativo y un
      costo de retiro.
    </p>
    <p class="p-text-subtitle-2">
      10.5. Los costos fijos relacionados con el envío de mercancías desde el
      casillero hasta el destino final en Colombia incluyen: costo del flete,
      servicios de logística, re-empaque con material incluido, recargo de
      combustible, impuestos para posición arancelaria regular (IVA y Arancel),
      servicios de aduana y seguro. Estos valores serán susceptibles de cambio
      según las condiciones del mercado.
    </p>
    <p class="p-text-subtitle-2">
      10.6. El precio por concepto de flete de los envíos se calcula en función
      del valor mayor entre el peso real y el peso volumétrico de la mercancía.
    </p>
    <p class="p-text-subtitle-2">
      10.7. En algunos casos podrían generarse cargos adicionales tales como:
      servicio de recogida dentro de los Estados Unidos, material de empaque,
      recargo por pago en destino, recargo por modalidad de pago, recargo por
      almacenaje extemporáneo en el casillero, costos administrativos por
      cambios en la dirección de entrega, cargos administrativos por ajustes con
      la DIAN, sobrecostos en el proceso de nacionalización, costos
      administrativos por mercancía que llegue mal rotulada y sin número de
      casillero, costos por desconsolidación y cualquier otro que surgiese
      durante la prestación de los servicios.
    </p>
    <p class="p-text-subtitle-2">
      10.8. Para pagos en destino se aceptarán pagos en efectivo. Para pagos en
      origen se aceptaran pagos con tarjeta de crédito, Paypal, cuenta Amazon,
      cuenta bancaria PSE - Epayco.
    </p>
    <p class="p-text-subtitle-2">
      10.9. Para pagos en origen con tarjeta de crédito, PayPal, Cuenta bancaria
      PSE – Epayco y/o cuenta Amazon, se aplicará un sobrecosto porcentual sobre
      el valor total de la factura.
    </p>
    <p class="p-text-subtitle-2">
      10.10. Para pagos en destino efectivo contra entrega, se aplicara un
      sobrecosto porcentual sobre el valor del flete.
    </p>
    <p class="p-text-subtitle-2">
      10.11. Para pagos en origen (tarjeta de crédito, Paypal, Cuenta bancaria
      PSE y/o Amazon) el cliente tendrá un plazo de siete (7) días para pagar la
      guía o para cambiar la modalidad de pago a “Pago en Destino”, aceptando el
      recargo, o el paquete se considerará abandonado y quedará a disposición de
      Coordinadora USA. Coordinadora USA se reserva el derecho a cambiar guías
      de pago en origen a pago en destino, cuando no se ha recibido el pago en
      origen dentro de los siete (7) días de plazo permitidos.
    </p>
    <p class="p-text-subtitle-2">
      10.12. Los pagos en destino deben realizarse en pesos colombianos
      utilizando la tasa reportada en la guía hija con la que viaja la
      mercancía. Si el destinatario incumple con el pago de los servicios,
      Coordinadora USA podrá retener la mercancía hasta que reciba la totalidad
      del pago adeudado. Si luego de siete (7) días calendario, contados a
      partir del primer ofrecimiento de la guía, la cuenta no ha sido cancelada,
      Coordinadora USA podrá vender la mercancía y utilizar las ganancias para
      liquidar la deuda. Si no se logra saldar la totalidad de la deuda,
      Coordinadora USA podrá ejercer su derecho a adelantar un cobro jurídico
      tanto en Estados Unidos como en Colombia.
    </p>
    <p class="p-text-subtitle-2">
      10.13. Para todos los efectos cambiarios relacionados con cotizaciones,
      facturas y transferencias internacionales entre Colombia y Estados Unidos,
      Coordinadora USA utilizará como referencia la TRM oficial del día de la
      transacción.
    </p>
    <p class="p-subtitle-2">12. Entregas e imposibilidades de entrega</p>
    <p class="p-text-subtitle-2">
      12.1. Coordinadora USA no entregará ninguna caja que no esté debidamente
      cerrada y en perfecto estado y el cliente y/o destinatario no está en la
      obligación de recibirla si no se cumple esta condición.
    </p>
    <p class="p-text-subtitle-2">
      12.2. En ningún caso se realizará inventario del contenido de una caja en
      el momento de la entrega.
    </p>
    <p class="p-text-subtitle-2">
      12.3. Coordinadora USA entregará la mercancía en la dirección aportada por
      el cliente y a la persona que se haga responsable en ese lugar, que no
      necesariamente siempre será la persona indicada como destinataria. La guía
      firmada servirá como prueba de entrega a satisfacción de la mercancía.
    </p>
    <p class="p-text-subtitle-2">
      12.4. La mercancía no puede ser entregada en apartados de correos.
    </p>
    <p class="p-text-subtitle-2">
      12.5. Los envíos a direcciones que dispongan de un área central de
      recepción podrían ser entregados en dicha área.
    </p>
    <p class="p-text-subtitle-2">
      12.6. Coordinadora USA no notifica al destinatario una entrega a realizar.
    </p>
    <p class="p-text-subtitle-2">
      12.7. Coordinadora USA podrá notificar al destinatario de una entrega
      fallida mediante el rastreo en su página web.
    </p>
    <p class="p-text-subtitle-2">
      12.8. Si el envío es considerado inaceptable por el destinatario o por las
      autoridades de la aduana, si el destinatario no puede ser razonablemente
      identificado o localizado, o el destinatario rechaza pagar los aranceles
      aduaneros y/u otros cargos del envío , Coordinadora USA hará cuanto
      razonablemente esté a su alcance para solucionar este problema y de no ser
      posible, la mercancía podrá ser abandonada, destruida, enajenada o vendida
      sin incurrir en ningún tipo de responsabilidad hacia el remitente ni
      ninguna otra persona, aplicándose las ganancias contra los aranceles
      aduaneros, los cargos del envío, los costos por almacenamiento y demás
      costos administrativos relacionados.
    </p>
    <p class="p-text-subtitle-2">
      12.9. Coordinadora USA tendrá derecho a destruir cualquier envío que la
      legislación aplicable impida devolver al remitente, así como cualquier
      envío de mercancía peligrosa.
    </p>
    <p class="p-subtitle-2">13. Notificaciones y reclamos</p>
    <p class="p-text-subtitle-2">
      13.1. Cualquier notificación, queja o reclamo por parte del cliente deberá
      ser tramitada a través del correo electrónico info@coordinadorausa.com o
      enviando la documentación respectiva a la dirección física del casillero
      mediante un correo certificado con firma, tal como DHL, UPS o Fedex. Las
      notificaciones, quejas o reclamos por vía telefónica deberán ser
      confirmadas por escrito vía correo electrónico o correo certificado con
      firma para que cobren efecto y validez.
    </p>
    <p class="p-text-subtitle-2">
      13.2. Las reclamaciones estarán limitadas a una por envío y será requisito
      la cancelación de la factura de transporte para iniciar el proceso de
      investigación.
    </p>
    <p class="p-text-subtitle-2">
      13.3. Toda reclamación por pérdida o daño de mercancía durante el
      transporte desde Estados Unidos a Colombia deberá hacerse durante las 24
      horas siguientes a la entrega en la dirección de destino. Por fuera de
      este periodo se entenderá que la mercancía fue recibida a satisfacción por
      parte del cliente y el reclamo se considerará extemporáneo.
    </p>
    <p class="p-text-subtitle-2">
      13.4. Coordinadora USA solo atenderá reclamos realizados por el cliente
      dueño del casillero o por el consignatario de la mercancía que figure en
      la guía hija. Ningún tercero podrá tramitar reclamos sin la respectiva
      autorización del cliente y/o destinatario de la mercancía.
    </p>
    <p class="p-text-subtitle-2">
      13.5. Los tiempos estimados para una reclamación serán de la siguiente
      manera: - Coordinadora USA se reserva un espacio de 15 días hábiles para
      emitir una respuesta inicial luego de ser radicada la reclamación del
      cliente. - A partir de la respuesta inicial de Coordinadora USA, el
      cliente contará con 15 días adicionales en los cuales se compromete a
      presentar toda la documentación necesaria para la investigación tales
      como: facturas de compra, números de tracking, certificados de propiedad,
      fotografías, correos electrónicos, etc. - En el evento de que el cliente
      se demore en proporcionar la información requerida para la tramitación del
      reclamo y agote los 15 días hábiles estimados para ese fin, perderá todo
      derecho de reclamación a no ser que presente pruebas que justifiquen
      ampliamente esa demora, caso en el cual se ampliará dicho plazo en 15 días
      más. Si cumplido este último plazo persiste la no presentación de los
      documentos solicitados, el cliente perderá todo derecho de reclamación. -
      Coordinadora USA contará con 15 días hábiles a partir de la recepción de
      toda la información solicitada para emitir una respuesta definitiva. - Si
      se evidencia una falta de colaboración por parte del cliente en cualquier
      momento, este perderá los derechos de reclamación.
    </p>
    <p class="p-text-subtitle-2">
      13.6. Los pagos por concepto de seguro se harán según el valor en dólares
      de la mercancía y se podrán hacer en dólares o en pesos colombianos
      liquidados según la TRM aplicable en el momento de la transacción.
      Coordinadora USA no está obligada a restituir un artículo objeto de
      reclamación.
    </p>
    <p class="p-subtitle-2">14. Responsabilidades y garantías</p>
    <p class="p-text-subtitle-2">
      14.1. Todos los envíos, con las excepciones que se describen en el numeral
      siguiente, deberán estar amparados por un seguro que se incluirá en la
      factura de cobro.
    </p>
    <p class="p-text-subtitle-2">
      14.2. Coordinadora USA se reserva el derecho de no asegurar mercancías
      tales como: vajillas, pinturas, obras de arte, porcelanas, cristal,
      vidrios, espejos, o cualquier otro artículo de valor extraordinario o de
      material delicado que pudiese fácilmente sufrir algún daño durante el
      transporte.
    </p>
    <p class="p-text-subtitle-2">
      14.3. El costo del seguro será de un porcentaje sobre el valor declarado.
      El cliente entiende y acepta que la cobertura no excederá el valor
      declarado. El cliente reconoce que el valor límite máximo de un artículo a
      declarar bajo la modalidad de tráfico postal y envíos urgentes es de USD $
      2,000. En ningún momento se permitirá asegurar un producto por un valor
      superior al del valor comercial de la factura de compra o valor en el
      mercado. El cliente podrá certificar el valor de la mercancía utilizando
      la factura comercial de compra o presentando una declaración de valor en
      la cual informe bajo su total responsabilidad cual es el valor de los
      artículos a transportar.
    </p>
    <p class="p-text-subtitle-2">
      14.4. Coordinadora USA solo responderá por los daños físicos que sufra la
      mercancía asegurada que estén directamente relacionados con el transporte.
      Coordinadora USA no se hace responsable por el mal funcionamiento de
      equipos, maquinas o demás artículos transportados.
    </p>
    <p class="p-text-subtitle-2">
      14.5. Los artículos perecederos y los que son sensibles a cambios de
      temperatura se transportarán bajo la responsabilidad absoluta del cliente.
      Coordinadora USA no dispondrá de un tratamiento especial para dichos
      paquetes y el seguro no cubrirá los daños que se presenten como
      consecuencia de esta característica particular.
    </p>
    <p class="p-text-subtitle-2">
      14.6. Los documentos se envían sin valor comercial y sin seguro y no
      podrán ser objeto de reclamación por pérdida o deterioro. Coordinadora USA
      tampoco se hará responsable por las implicaciones monetarias que se
      generen a raíz de la pérdida, demora, decomiso por parte de las
      autoridades aduaneras o daño en los documentos y/o paquetes transportados.
    </p>
    <p class="p-text-subtitle-2">
      14.7. Coordinadora USA no responderá por los daños que se generen en
      artículos que estén empacados de fábrica y no presenten deterioro externo
      que evidencie maltrato físico durante el transporte.
    </p>
    <p class="p-text-subtitle-2">
      14.8. Coordinadora USA no es responsable de las pérdidas o daños derivados
      de circunstancias ajenas a su control. Estas circunstancias incluyen, pero
      no se limitan a las siguientes: - Daño eléctrico o magnético de imágenes
      electrónicas, fotográficas o de datos y grabaciones en dispositivos o el
      borrado de los elementos anteriormente mencionados. - Daños generados
      durante o como consecuencia de las inspecciones de los oficiales de aduana
      o de representantes gubernamentales. - Daños generados por "Fuerza Mayor"
      – ej. terremotos, huracanes, tormentas, inundaciones, niebla, guerras,
      accidentes aéreos, terrorismo, disturbios, embargos, conmoción civil o
      acciones sindicales, etc. - Daños o pérdidas responsabilidad de
      proveedores y/o de los transportadores locales. Coordinadora USA solo
      responderá por mercancía que haya recibido en sus bodegas, escaneada en el
      momento de recibir de un transportador local. Para dicho efecto será
      válida únicamente la información escaneada por Coordinadora USA y no los
      registros de los proveedores locales. - Envios erróneos o incompletos de
      los proveedores del cliente. - Envios entregados en otros lugares por los
      transportadores locales.
    </p>
    <p class="p-text-subtitle-2">
      14.9. Coordinadora USA reconocerá por pérdida o daño únicamente el valor
      asegurado por el cliente que será el que figure en la declaración de valor
      o factura con la que viaje la mercancía.
    </p>
    <p class="p-text-subtitle-2">
      14.10. En casos donde Coordinadora USA acepte reponer el valor declarado
      de mercancía, según la declaración de valor del cliente o de la factura
      comercial, Coordinadora USA recogerá la mercancía en cuestión como parte
      del salvamento, previamente a pagar el valor asegurado al cliente. Una vez
      recogido el salvamento Coordinadora USA hará la reposición del dinero
      asegurado.
    </p>
    <p class="p-text-subtitle-2">
      14.11. En los casos de perdida, daño o deterioro cuando la mercancía aún
      no ha sido despachada, Coordinadora USA cubrirá el valor de la factura de
      compra o declaración valida y verificable.
    </p>
    <p class="p-text-subtitle-2">
      14.12. Los pagos por concepto de seguro se harán según el valor en dólares
      de la mercancía. Coordinadora USA no está obligada a restituir un artículo
      objeto de reclamación.
    </p>
    <p class="p-text-subtitle-2">
      14.13. Coordinadora USA no reconocerá ni responderá por pérdidas
      argumentadas por el cliente tales como lucro cesante, pérdidas de
      oportunidades de negocio o de ingresos que se deriven de la pérdida de uso
      cuando estas resultasen con motivo de un retraso en la entrega o pérdida
      de un bien.
    </p>
    <p class="p-text-subtitle-2">
      14.14. La responsabilidad de Coordinadora USA en relación con cualquier
      envío, aparte de sus obligaciones adquiridas por el seguro, estará
      limitada por el convenio de Montreal o Convenio de Varsovia, según aplique
      o, en ausencia de dicho convenio al menor de los siguientes importes: el
      valor de mercado, el valor declarado o 19 “Derechos Especiales de Giro”
      por kilogramo (aproximadamente USD $ 26.00 por kilo).
    </p>
    <p class="p-text-subtitle-2">
      14.15. El cliente indemnizará y mantendrá indemne a Coordinadora USA por
      cualquier daño o pérdida que se derive de su incumplimiento con relación a
      cualquier legislación o normativa aplicable del país de origen o país de
      destino y del incumplimiento de cualquiera de las siguientes declaraciones
      y garantías: - Toda la información facilitada por el remitente o sus
      representantes es completa y exacta. - El envío es aceptable para su
      transporte de acuerdo con las regulaciones del courier. - El envío fue
      preparado en instalaciones seguras por personal fiable y se protegió de
      interferencias no autorizadas durante su preparación, almacenamiento y
      traslado de este a Coordinadora USA. - El remitente ha cumplido con la
      legislación aplicable en materia de aduanas, importación, exportación,
      protección de datos, sanciones, embargos y otras leyes y normativas. - El
      remitente ha obtenido todos los consentimientos necesarios en relación con
      los datos personales facilitados a Coordinadora USA, incluyendo
      información del destinatario que podrá ser solicitada para el transporte,
      despacho de aduanas y la entrega, como la dirección de correo electrónico
      y número de teléfono móvil.
    </p>
    <p class="p-subtitle-2">15. Duración</p>
    <p class="p-text-subtitle-2">
      Este acuerdo comienza a regir a partir de la aceptación de las condiciones
      por parte del cliente en el momento de su inscripción y tendrá una
      duración ilimitada siempre y cuando alguna de las partes no exprese lo
      contrario. No existen causales especiales para la terminación de este
      acuerdo por lo cual cualquiera de las partes puede darlo por terminado en
      cualquier momento.
    </p>
    <p class="p-subtitle-2">16. Legislación aplicable</p>
    <p class="p-text-subtitle-2">
      16.1. Cualquier controversia que se derive o esté relacionada con los
      Términos y Condiciones del presente acuerdo, estará sujeta a la
      jurisdicción de los Tribunales del estado de la Florida en Los Estados
      Unidos de America.
    </p>
    <p class="p-text-subtitle-2">
      16.2. El remitente se somete irrevocablemente a dicha jurisdicción, a
      menos que la ley aplicable indique lo contrario. No obstante, si la
      legislación aplicable permitiera la elección de fuero o de jurisdicción
      diferente, ésta será la determinada por Coordinadora USA.
    </p>
    <p class="p-text-subtitle-2">
      16.3. Si alguna de las cláusulas o parte de estas fuese nulas o ineficaces
      dentro de un proceso según el concepto de la autoridad competente, el
      resto de los Términos y Condiciones no afectados por la nulidad o
      ineficacia, permanecerán subsistentes y no perderán su valor y
      aplicabilidad.
    </p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
