<app-navbar></app-navbar>
<div class="div-principal-puntos">
  <div class="div-como-funciona">
    <div class="div-titulo">
      <div class="div-titulo2">
        <h4>¿Cómo funciona el plan de puntos?</h4>
      </div>
    </div>
    <div class="div-text-funciona">
      <div class="div-text1">
        <div class="div-img">
          <img src="../../../assets/laptop.png" />
        </div>
        <div class="div-h3">
          <h3>Abre tu casillero gratis</h3>
        </div>
        <p>Puedes abrir tu casillero desde esta misma página</p>
      </div>
      <div class="div-text2">
        <div class="div-img">
          <img src="../../../assets/trolley.png" />
        </div>
        <div class="div-h3">
          <h3>Acumula Puntos</h3>
        </div>
        <p>Cada vez que hagas un despacho por medio de Coordinadora USA</p>
      </div>
      <div class="div-text2">
        <div class="div-img">
          <img src="../../../assets/money.png" />
        </div>
        <div class="div-h3">
          <h3>Redime tus puntos</h3>
        </div>
        <p>
          Redime tus Puntos para pagar futuros envíos de Estados Unidos a
          Colombia
        </p>
      </div>
    </div>
  </div>
  <div class="acumula-punto">
    <div class="acumula-puntos">
      <div class="div-titulo">
        <div class="div-titulo2">
          <h4>Acumula puntos</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="div-text-puntos">
    <div class="div-text1">
      <div class="div-img">
        <img src="../../../assets/award.png" />
      </div>
      <p>
        Podrás acumular puntos basado en el valor que pagues en tu envío
        (excluyendo impuestos).
      </p>
    </div>
    <div class="div-text2">
      <div class="div-img">
        <img src="../../../assets/star.png" />
      </div>
      <p>
        Por cada <strong>$1USD</strong> que pagues te daremos
        <strong>10 pts</strong>
      </p>
    </div>
    <div class="div-text2">
      <div class="div-img">
        <img src="../../../assets/solution.png" />
      </div>
      <p>
        Ejemplo: $250.00 x 10 pts = 2500 pts Valor del envío (excluyendo
        impuestos)
      </p>
    </div>
  </div>
  <div class="div-lealtad">
    <div class="acumula-puntos">
      <div class="div-titulo">
        <div class="div-titulo2">
          <h4>Niveles de Lealtad</h4>
        </div>
      </div>
    </div>
    <div class="div-text-lealtad">
      <div class="div-text-lealtad-2">
        <p>El programa ofrece cuatro niveles de lealtad:</p>
        <p>
          Standard, Bronze, Silver y Gold, a los cuales podrás llegar según el
          número de tus puntos históricos.
        </p>
      </div>
      <div class="div-img-lealtad">
        <div class="div-img-categoria">
          <img src="../../../assets/standard.png" />
          <p>Standard</p>
        </div>
        <div class="div-img-categoria">
          <img src="../../../assets/bronce.png" />
          <p>Bronze</p>
        </div>
        <div class="div-img-categoria">
          <img src="../../../assets/plata.png" />
          <p>Silver</p>
        </div>
        <div class="div-img-categoria">
          <img src="../../../assets/oro.png" />
          <p>Gold</p>
        </div>
      </div>
    </div>
  </div>
  <div class="div-button-tp">
    <a [routerLink]="['/terminos']" class="a-button-large">ver términos y condiciones</a>
    <a class="a-button-large-2">preguntas frecuentes</a>
  </div>
</div>
<br />
<br />
<br />
<app-footer></app-footer>
